@{
    ViewBag.Title = "Your Account";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Your Account</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-lg">Pay Bill</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your balance this month is:</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href=""</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""></a></p> 
    </div>
</div>

<p></p>
