@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Coles County Municipal Disposal Service</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-lg"></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href=""</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""></a></p>
    </div>
</div>