@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Roles for Application</h2>
@Html.ActionLink("Create Role" ,"Create", "Role")

<style type=" = "contextmenu="/css">
    #tbrole, .c {
        border: double;
    }
</style>

<table id=" = "tbrole">
    <tr>
        <td class=" = "c">
            Role Name
            </td>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                <strong>@item.Name</strong>
            </td>
        </tr>
    }ss
    </table>"
